@media (max-width: 900px) {
    .blog-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }

    .blog-news-img-container {
        grid-row: 2;
    }

    .blog-news-info-container {
        grid-column: 1;
        grid-row: 3;
    }

    .blog-posts-container .post-container {
        max-width: 45%;
    }

    .proyects-main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }

    .profile-main-container .profile-container {
        display: block;
    }

    .contact-main-container {
        display: flex;
    }
    
    .contact-main-container div {
        display: flex;
        width: 50%;
        flex-direction: column;
        align-items: center;
    }

    .contact-main-container img {
        margin-top: 50px;
        width: 100px;
    }

    .contact-main-container .contact-left, .contact-right {
        text-align: initial;
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    .blog-posts-container .post-container {
        max-width: 95%;
    }

    .profile-main-container img {
        width: 300px;
        margin-right: 30px;
    }

    .pagina-main-new {
        display: block;
    }

    .grid-container {
        max-width: 980px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .pagina-posts-container .post-container {
        max-width: 90%;
        padding-bottom: 20px;
        border-bottom: 1px solid #cdd2da;
    }

    .contact-main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-main-container div {
        display: flex;
        width: 95%;
        height: 100%;
        align-items: center;
    }

    .contact-main-container img {
        height: 100px;
    }

    .contact-main-container .contact-left, .contact-right {
        flex-direction: column;
        margin: 20px ;
    }
}